.form {
    margin: 0.5em;
}

.form input {
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

.form label {
    color: dimgray;
}

.form select {
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}


.title {
    font-size: x-large;
    margin-bottom: 10px;
}


.header {
    color: #fff;    
    padding: 0.5em;
    background-color: rgb(43, 43, 116);
    border-radius: 4px;
    margin: 0.2em;
}

.somar {
    color: green;
}

.clock {
    color: coral;
    text-align: right !important;
    margin-right: 1em;
}

.led {
    width: 50px;
    margin: 1em;
}

.card {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(217, 220, 223);
}

.card p {
    padding-bottom: -25px;
}

.result {
    color: red;
    text-transform: uppercase;   
}

.highlighted {
    font-weight: bold;
    margin-top: 10px;
}

.local-storage {
   
}

.local-storage button {
    margin: 0.2em;
}

.local-storage input {
    margin: 0.1em;
}